@model IEnumerable<Gas_Go_v1.Models.GasStations>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />


<h2>Gas station information</h2>
<div id="map" style="height:300px"></div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GasStationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suburb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnleadedPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnleadedPriceUpdatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Premium95Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Premium95PriceUpdatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Premium98Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Premium98PriceUpdatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DieselPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DieselPriceUpdatedTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="coordinates">
                <td class="description">
                    @Html.DisplayFor(modelItem => item.GasStationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Suburb)
                </td>
                <td class="longitude">
                    @Html.DisplayFor(modelItem => item.Longitude)

                </td>
                <td class="latitude">
                    @Html.DisplayFor(modelItem => item.Latitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnleadedPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnleadedPriceUpdatedTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Premium95Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Premium95PriceUpdatedTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Premium98Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Premium98PriceUpdatedTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DieselPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DieselPriceUpdatedTime)
                </td>
                <td>
                    @Html.ActionLink("Rate this gas station", "Edit", new { id = item.GasStationId })
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @Scripts.Render("~/bundles/mapbox")
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
