@model IEnumerable<Gas_Go_v1.Models.GasStations>

@{
    ViewBag.Title = "Your search result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        @Html.ActionLink("Back", "Create", "UserSearchRequests")
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.GasStationId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GasStationName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Suburb)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Street)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="3" style="color:red">
                        No match any gas station!
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.GasStationId
                        </td>
                        <td>
                            @item.GasStationName
                        </td>
                        <td>
                            @item.Suburb
                        </td>
                        <td>
                            @item.Street
                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>
