@model IEnumerable<Gas_Go_v1.Models.Post>

@{
    ViewBag.Title = "Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Back", "AdminIndex", "Threads")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUsers.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thread.Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:red">
                    There is no post in this thread!
                </td>
            </tr>
        }
        else
        {

            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Thread.Subject)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.PostId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.PostId })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
